@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/opensans/OpenSans-Regular.eot');
  src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
       url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html, body{
	height: 100%;
}
body {
	font-family: 'OpenSans-Regular';
	font-size: 14px;
}
		  .row {
			  margin-bottom: 0;
		   }
		  .btn {
			background-color: #fff;
			color: #808080;
			border:1px solid #999999;
			font-size: 12px;
			border-radius: 2px;
			box-shadow: none;
			text-transform: capitalize;
			height: 30px;
			line-height: 28px;
			padding: 0 12px;
		  }
.btn:hover {
    background-color: #fff;
    color: #808080;
    border-color: #999999; }
.btn:focus {
    background-color: #fff;
    color: #808080;
    border-color: #999999; }
.btn:active {
    background-color: #fff;
    color: #808080;
    border-color: #999999; }
.btn.btn-primary {
    background-color: #1072ba;
    color: #fff;
    border-color: #1072ba; }
.btn.btn-light {
    background-color: #f2f2f2;
    color: #808080;
    border-color: #cccccc; }
    .btn.btn-bulk-action {
    	border: none;
    	padding: 0;
    	height: 30px;
    	line-height: 30px;
		margin: 3px 0;    
		opacity: 0.6;
    }
.btn.btn-bulk-action img {
	margin: 5px 2px;
	float: left;
	width: 18px;
}
.btn.btn-bulk-action:hover {
	opacity: 1;
	box-shadow: none;
}
		  .actions-listing {
			  margin: 0;
		  }
		  .actions-listing li{
			  
		  }
		  .actions-listing li button {
			  width: 100%;
			  background: transparent;
			  color: #404041;
			  text-align: left;
			  text-transform: capitalize; 
			  padding: 0 10px;
			  box-shadow: none;
			  border-width: 0 0 1px 0;
			  border-style: solid;
			  border-color:  #f2f2f2;
			  font-size: 12px;
			  border-radius: 0;
			  height: 32px;
			  line-height: 32px;
		  }
		  .actions-listing li button i {
			  float: right;
			  font-size: 14px;
		  }		  
		  .actions-listing li button:hover, .actions-listing li button:focus {
			  background: #fafafa;
			  box-shadow: none;
			  border-color:  #f2f2f2;
			  color: #404041;
		  }
		  textarea.materialize-textarea {
        border: 1px solid #ccc;
        padding: 5px;
        box-sizing: border-box;
		  }
      .input-field textarea.materialize-textarea + label {
        left: 0;
        -webkit-transform: translateY(-140%);
        transform: translateY(-140%);
      }
		  .input-field label {
			  font-size: 10px;
			  color: #808080;
			  left: 0;
		  }
		  .input-field label.active {
			  font-size: 10px;
		  }
input:not([type]):focus:not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	  color: #404041;			  
  }
.input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field textarea:focus,
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
     border-bottom: 1px solid #808080;
     box-shadow: none;
   }
.select-wrapper input.select-dropdown, input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
    height: 2rem;
	margin: 8px 0px 10px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
   }
.required  {
    color: #e32;
    display:inline;
}
/*.select-wrapper .dropdown-content {
		width: 100%;
	}
.select-wrapper .dropdown-content li{ 
		min-height: 30px;	
}
.select-wrapper .dropdown-content li span{ 
		padding: 3px 2.5%;
		font-size: 12px;
		color: #404041;
}*/
.notification-msg {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%);
}
.select-wrapper + label {
  top: -5px; }
.select-wrapper + label::after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
  top: 42px;
  position: absolute;
  display: block;
  min-width: 300px; }
.select-wrapper input.select-dropdown {
  height: 1.8rem;
  margin-bottom: 10px;
  margin-top: 8px;
  font-size: 0.857rem;
  display: inline-block; }
.select-wrapper .dropdown-content {
  width: 100%;
  top: 34px !important; }
  .select-wrapper .dropdown-content li {
    min-height: 24px; }
    .select-wrapper .dropdown-content li > a, .select-wrapper .dropdown-content li > span {
      line-height: 30px;
      font-size: 0.857rem;
      padding: 0 2.5%;
      color: #000; }
.select-wrapper .dropdown-content li > a label, .select-wrapper .dropdown-content li > span label {
	width: auto;
}
      .select-wrapper .dropdown-content li > a:hover, .select-wrapper .dropdown-content li > span:hover {
        background-color: #ccc; }
    .select-wrapper .dropdown-content li a i {
      margin-right: 5px;
      color: #999; }
    .select-wrapper .dropdown-content li [type="checkbox"] + label::after,
    .select-wrapper .dropdown-content li [type="checkbox"]:checked + label::after,
    .select-wrapper .dropdown-content li [type="checkbox"]:not(:checked) + label::after,
    .select-wrapper .dropdown-content li [type="checkbox"]:not(:checked) + label::before,
    .select-wrapper .dropdown-content li [type="checkbox"]:checked + label::before {
      width: 12px;
      height: 12px;
      top: 4px; }
    .select-wrapper .dropdown-content li [type="checkbox"]:checked + label::before {
      width: 8px; }
    .select-wrapper .dropdown-content li [type="checkbox"]:disabled:not(:checked) + label::before,
    .select-wrapper .dropdown-content li [type="checkbox"]:checked + label::before {
      width: 7px;
      height: 10px;
      top: 4px;
      left: 0px; }
    .select-wrapper .dropdown-content li [type="checkbox"]:disabled:not(:checked) + label::after,
    .select-wrapper .dropdown-content li [type="checkbox"]:checked + label::after {
      top: 4px !important; }
h4 {
	font-size: 12px;
	color: #404041;
}
.with-gap[type="radio"]:checked + label::after {
  background-color: #40a4dc;
  border-color: #40a4dc; }
input[type="checkbox"] + label, input[type="radio"]:not(:checked) + label, input[type="radio"]:checked + label {
  font-size: 12px;
  line-height: 24px;
  color: #404041;
  padding-left: 24px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis; }
[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
    border: 1px solid #5a5a5a;
}
[type="radio"].with-gap:checked + label::after {
    transform: scale(0.6);
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {

    border: 1px solid #26a69a;

}
/*
	Checkbox Style
*/
[type="checkbox"] + label {
  font-size: 0.857rem;
  color: #333;
  padding-left: 24px;
  height: 18px;
  line-height: 18px;
  margin-top: 4px;
  width: 100%; }
[type="checkbox"]:not(:checked) + label:before {
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  top: 0px; }
[type="checkbox"]:checked + label:before {
  width: 9px;
  height: 18px;
  border-right: 2px solid #40a4dc;
  border-bottom: 2px solid #40a4dc; }

[type="checkbox"].filled-in + label {
  font-size: 0.857rem;
  color: #333;
  padding-left: 24px;
  height: 18px;
  line-height: 16px;
  margin-top: 4px;
  width: 100%; }
[type="checkbox"].filled-in:not(:checked) + label:before {
  left: 3px;
  top: 5px; }
[type="checkbox"].filled-in:not(:checked) + label:after {
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  top: 0px; }
[type="checkbox"].filled-in:checked + label:before {
  left: 0px;
  width: 7px;
  height: 12px; }
[type="checkbox"].filled-in:checked + label:after {
  width: 16px;
  height: 16px;
  top: 0px;
  border: 1px solid #40a4dc;
  background-color: #40a4dc; }
[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  border: 1px solid #40a4dc;
  background-color: #40a4dc; }
#root, #root > div, #root > div > form  {
	height: 100%;
}

.bulk-action {
	height: 100%;
	padding: 10px 15px;
}
.bulk-action .bulk-action__content {
	    height: calc(100% - 40px);
}
.bulk-action .bulk-action__content h4{
	margin-top: 0;
}
.bulk-action .bulk-action__footer {
	height: 40px;
	text-align: right;	
	padding: 10px 0 0; 
}
.bulk-action .bulk-action__footer button {
	margin-left: 5px;
}
.bulk-action .bulk-action-footer {
	height: 40px;
	text-align: right;	
	padding: 10px 0 0; 
}
.bulk-action .bulk-action-footer button {
	margin-left: 5px;
}
.preloader-wrapper {
top: 49%;   
}
.preloader-overlay {
width: 100%;
height: 100%;
position: fixed;
text-align: center;
vertical-align: middle;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.input-field.col label {
left: 0;
}
.select-no-padding .col {
	padding: 0px !important;
}

.no-padding .input-field {
	padding: 0;
}
.custom-field__multiple-campaign {
    text-align: center;
    font-size: 0.857rem;

}
.custom-field__multiple-campaign h3 {
    font-size: 0.857rem;
     font-weight: bold;
}
.bulk-image{
  cursor: pointer;
}
.update-custom-field .input-field{
  margin-top: 0px !important;
}
.selected-ticket-count{
	padding: 10px;
}
.selected-ticket-count span{
	background: #f2f2f2;
	font-size: 0.857rem;
	color: #333;
	padding: 4px 10px;
}















