/*css style*/
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/opensans/OpenSans-Regular.eot");
  src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Regular.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular") format("svg"), url("../fonts/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/opensans/OpenSans-Light.eot");
  src: url("../fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Light.woff") format("woff"), url("../fonts/opensans/OpenSans-Light.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Light.svg#OpenSans-Light") format("svg"), url("../fonts/opensans/OpenSans-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/opensans/OpenSans-Semibold.eot");
  src: url("../fonts/opensans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Semibold.woff") format("woff"), url("../fonts/opensans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg"), url("../fonts/opensans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

body{font-family:'OpenSans-Regular';line-height:1; font-size:14px;}
#userCRM {float:left;overflow:hidden;box-shadow:0 0 3px rgba(0, 0, 0, 0.4);}
#iframe_body .detailSection {float:left;width:100%;background:#f4f4f4;padding:28px 60px 35px 67px;-webkit-transition:height 4s linear 1s; /* Safari */
    transition:height 4s linear 1s;}
.userImage {float:left;width:15%;}
.userImage img{max-width:100%;}
.userDetail {float:left;width:50%;margin-left:18px;}
.userDetail > ul {list-style-type:none; padding:0;float:left;width:100%; margin:0;}
.userDetail > ul > li {float:left;width:100%;font-size:1.0em;line-height:20px;color:#6D6E70;}
.userDetail > ul > li:nth-child(2){margin-bottom:15px;}
.userDetail > ul > li .userName{font-family:'OpenSans-Semibold';font-size:1.4em;color:#1E4260;}
.userDetail ul li ul{float:left;margin-right:50px;}
.userDetail ul li ul:last-child{margin-right:0;}
.userDetail ul li ul li{font-size:0.857rem;font-family:'OpenSans-Light';color:#404041;}
.editBtn {float:right;margin-top:22px;}
.editBtn a{float:right;background:#fff;border:1px solid #ccc;border-radius:3px;margin-left:15px;padding:8px 15px 9px;font-size:0.9em;color:#333;transition:all 0.5s ease 0s;}
.editBtn a:hover{background:#d9e0e6;}
.userPersonalDeatil {float:right; width:35%;}
.userPersonalDeatil ul {list-style-type:none;padding:0;float:left;width:100%;margin-top:0;}
.userPersonalDeatil ul li{float:right;margin-left:25px;font-size:0.857rem;text-align:right;line-height:20px;color:#404041;letter-spacing:0.5px;font-family:'OpenSans-Light';}
.userPersonalDeatil ul li:last-child{margin-left:0;}
.userPersonalDeatil ul li span{float:left;font-size:22px;color:#3b97d3;}
.formImgLeft {float:left;width:160px;}
.formImgRight{float:left;width:100%;}
.interactionDetail {float:left;width:100%;padding-left:50px;padding-bottom:25px;}
.currentInteraction, .olderInteraction  {float:left;width:100%;padding:22px 60px 12px 32px;border-bottom:2px solid #ddd;border-left:2px solid #ddd;}
.interactionMetaData {float:left;width:100%;position:relative;}
.interactionDetail .agentImage img{width:25px;}
.interactionDetail .agentName {/*margin-left:10px;*/color:#404041;}
.interactionDetail .InterStatus{margin-left:25px;color:#5d92af;} 
.interactionMetaData > div{float:left;line-height:1.1em;}
.interactionDetail .InterTime {float:right;margin-left:25px;color:#404041;font-size:0.9em;}
.interactionMetaData > div > .titleCall{font-size:0.9em;color:#999;}
.interactionMetaData > div > .dataCall {font-family:'OpenSans-Semibold';font-size:0.9em;}
.currentInteraction .commentSec{float:left;width:100%;margin-top:20px;}
.currentInteraction .commentSec textarea{border-bottom:1px solid #bcbcbc;padding:5px 0;font-size:1em;line-height:1.3em;color:#444;}
.interactionDetail .actionbtn {float:left;width:100%;text-align:right;margin-top:4px;}
.interactionDetail .actionbtn button{background:#fff;border:1px solid #ccc;border-radius:3px;margin-left:15px;padding:7px 15px 8px;font-size:0.9em;transition:all 0.5s ease 0s;}
.interactionDetail .actionbtn button:hover{background:#d9e0e6;}
.interactionDetail .actionbtn button.saveBtn {background:#46657f;border-color:#1b3547;color:#fff;}
.interactionDetail .actionbtn button:hover.saveBtn {background:#1b3547;}
.olderInteraction .commentSec{float:left;width:93%;margin:18px 0;color:#6d6e70;line-height:1.3em;font-size:1em;}
.phoneIcon {position:absolute;top:0;left:-46px;width:26px;height:26px;text-align:center;background:#e6e7e8;border-radius:50%;}
.phoneIcon span{font-size:18px;color:#24ae5f;line-height:26px;}
.phoneIcon span.mdi-email{color:#894b9d;}
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){border-bottom-color:#59595c;box-shadow:0 0 0 0 #59595c;}
input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{color:#333;}
input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea, .select-wrapper input.select-dropdown{font-size:0.9em;color:#555;}
.dropdown-content li > a, .dropdown-content li > span{font-size:0.9em;}
.formActionBtn {text-align:center;margin-top:55px;}
.formActionBtn button{background:#fff;border:1px solid #ccc;border-radius:3px;margin-left:15px;padding:10px 32px;font-size:0.9em;transition:all 0.5s ease 0s;}
.formActionBtn button:hover{background:#d9e0e6;}
.formActionBtn button.saveBtn {background:#46657f;border-color:#1b3547;color:#fff;}
.formActionBtn button:hover.saveBtn {background:#1b3547;}
.select-wrapper span.caret {border-left:0 solid transparent;border-right:0 solid transparent;border-top: 0 dashed;}
textarea.materialize-textarea {min-height:1.3rem;height:1.3em;}
.phoneNoRow {}
.phoneNoRow .select-wrapper {width:25%;float:left;}
.phoneNoRow .select-dropdown li {min-height:30px;}
.phoneNoRow .select-dropdown li img {margin:5px;width:auto;height:auto;}
.phoneNoRow .dropdown-content li > span {padding:5px;font-size:0.9em;}
.phoneNoRow > div.col > input[type="text"], .phoneNoRow > input[type="text"] {float:left;width:70%;margin-left:5%;}
.phoneNoRow .input-field label.active, .phoneNoRow.input-field label.active{transform:translateY(0%);}
.mrt10{margin-top:10px;}
.detailForm > div > button{ margin:0 8px;}
.detailForm > div > button.btnCancel { background:none; box-shadow:none;}
.userDetailSec {float:left; width:100%;}
.detailForm h5{font-size:1.1em;padding:0 15px;float:left;width:100%;font-family:'OpenSans-Semibold';}
nav [class*="mdi-"] {display:inline-block;font-size:1.4em;height:auto;line-height:16px;}
.input-field input[type="text"].nameingSec {font-size:1.2em;font-family:'OpenSans-Semibold';}
.picker__date-display {display:none;}
.dropdown-content {background-color:#f5f5f5;}
.dropdown-content li > a, .dropdown-content li > span{color:#444;}	

/*14_06_2016*/
.iframe_data{float:left;height:500px}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;}
.show_user_data input[type="text"],.show_user_data input[type="email"]{/*color: hsl(0, 0%, 62%);*/}
input[type="text"]:disabled,input[type="email"]:disabled{color:hsl(0, 0%, 33%);}	
/*15_06_2016*/	
.date_wrapper_iframe{position:realative;}	
.date_wrapper_iframe i{left: 9px;
    position: absolute;
    top: 15px;} 	
.date_wrapper_iframe label{left:2em;}	
.date_wrapper_iframe .date_picker{padding-left:18px;box-sizing:border-box;}
.ui-datepicker .ui-datepicker-title select{display:inline-block !important;/*float: right;*/height:auto !important;margin-right:15px;padding:0;}
/*.ui-datepicker-month{float:left;margin-left:15px;}*/		
/* 29 June */
.formErrorMassage {color:#F33737;font-size:0.9em;font-family:'OpenSans-Light';}	
.detailForm {display:none;padding:25px 0 0;}	
input.invalid:not([type]), input.invalid:focus:not([type]), input.invalid[type="text"], input.invalid[type="text"]:focus, input.invalid[type="password"], input.invalid[type="password"]:focus, input.invalid[type="email"], input.invalid[type="email"]:focus, input.invalid[type="url"], input.invalid[type="url"]:focus, input.invalid[type="time"], input.invalid[type="time"]:focus, input.invalid[type="date"], input.invalid[type="date"]:focus, input.invalid[type="datetime"], input.invalid[type="datetime"]:focus, input.invalid[type="datetime-local"], input.invalid[type="datetime-local"]:focus, input.invalid[type="tel"], input.invalid[type="tel"]:focus, input.invalid[type="number"], input.invalid[type="number"]:focus, input.invalid[type="search"], input.invalid[type="search"]:focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus {
  border-bottom: 1px solid #ffbfbf;
  box-shadow: 0 1px 0 0 #ffbfbf;
}	
.nonEdit{pointer-events:none;}
@media only screen and (max-width: 1050px){
#iframe_body .detailSection{padding:25px;}	
.userDetail{padding-left:10px;}	
.userDetail > ul > li:nth-child(2){margin-bottom:10px;}	
.userPersonalDeatil ul li{margin-bottom:5px;}	
.interactionDetail {padding-left:30px;}



	}

/*Sprint 44*/



/* New */
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime"], input.valid[type="datetime"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus{box-shadow:none;border-bottom-color:#9e9e9e;}
input.requiredEmpty, select.requiredEmpty, textarea.requiredEmpty{box-shadow: 0 1px 0 0 #337ab7;border-bottom-color:#337ab7;}
 
/* 17 nov added*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 0;}

























